AplicacionDesktop/src/META-INF/wsdl/localhost_8080/WS/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkgWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkgWS/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://pkgWS/" schemaLocation="http://localhost:8080/WS/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="CompletarVenta">
<part name="parameters" element="tns:CompletarVenta"/>
</message>
<message name="CompletarVentaResponse">
<part name="parameters" element="tns:CompletarVentaResponse"/>
</message>
<message name="obtenerJason">
<part name="parameters" element="tns:obtenerJason"/>
</message>
<message name="obtenerJasonResponse">
<part name="parameters" element="tns:obtenerJasonResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="EjecutarVenta">
<part name="parameters" element="tns:EjecutarVenta"/>
</message>
<message name="EjecutarVentaResponse">
<part name="parameters" element="tns:EjecutarVentaResponse"/>
</message>
<message name="BuscarInventario">
<part name="parameters" element="tns:BuscarInventario"/>
</message>
<message name="BuscarInventarioResponse">
<part name="parameters" element="tns:BuscarInventarioResponse"/>
</message>
<portType name="WS">
<operation name="CompletarVenta">
<input wsam:Action="http://pkgWS/WS/CompletarVentaRequest" message="tns:CompletarVenta"/>
<output wsam:Action="http://pkgWS/WS/CompletarVentaResponse" message="tns:CompletarVentaResponse"/>
</operation>
<operation name="obtenerJason">
<input wsam:Action="http://pkgWS/WS/obtenerJasonRequest" message="tns:obtenerJason"/>
<output wsam:Action="http://pkgWS/WS/obtenerJasonResponse" message="tns:obtenerJasonResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pkgWS/WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pkgWS/WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="EjecutarVenta">
<input wsam:Action="http://pkgWS/WS/EjecutarVentaRequest" message="tns:EjecutarVenta"/>
<output wsam:Action="http://pkgWS/WS/EjecutarVentaResponse" message="tns:EjecutarVentaResponse"/>
</operation>
<operation name="BuscarInventario">
<input wsam:Action="http://pkgWS/WS/BuscarInventarioRequest" message="tns:BuscarInventario"/>
<output wsam:Action="http://pkgWS/WS/BuscarInventarioResponse" message="tns:BuscarInventarioResponse"/>
</operation>
</portType>
<binding name="WSPortBinding" type="tns:WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CompletarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerJason">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EjecutarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS">
<port name="WSPort" binding="tns:WSPortBinding">
<soap:address location="http://localhost:8080/WS/WS"/>
</port>
</service>
</definitions>